[submodule "pack/plugins/start/vim-gitgutter"]
	path = pack/plugins/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "pack/plugins/start/vim-commentary"]
	path = pack/plugins/start/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "pack/plugins/start/vim-unimpaired"]
	path = pack/plugins/start/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired
[submodule "pack/plugins/start/vim-eunuch"]
	path = pack/plugins/start/vim-eunuch
	url = https://github.com/tpope/vim-eunuch
[submodule "pack/plugins/start/vim-cursorword"]
	path = pack/plugins/start/vim-cursorword
	url = https://github.com/itchyny/vim-cursorword
[submodule "pack/plugins/start/vim-fugitive"]
	path = pack/plugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "pack/plugins/start/vim-trailing-whitespace"]
	path = pack/plugins/start/vim-trailing-whitespace
	url = https://github.com/bronson/vim-trailing-whitespace
[submodule "pack/plugins/start/vim-dispatch"]
	path = pack/plugins/start/vim-dispatch
	url = https://github.com/tpope/vim-dispatch
[submodule "pack/plugins/start/vim-vinegar"]
	path = pack/plugins/start/vim-vinegar
	url = https://github.com/tpope/vim-vinegar
[submodule "pack/plugins/start/vim-repeat"]
	path = pack/plugins/start/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule "pack/plugins/opt/vim-sensible"]
	path = pack/plugins/opt/vim-sensible
	url = https://github.com/tpope/vim-sensible
[submodule "pack/plugins/start/vim-surround"]
	path = pack/plugins/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "pack/plugins/start/vim-clean"]
	path = pack/plugins/start/vim-clean
	url = https://github.com/camilstaps/vim-clean
